:root {
    --primary-color: #0072FF;
    --background-color: #f2f2f2;
    --text-secondary-color: #3e4152;
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --hr-line: #e2e2e2;
    --border: #f0efef;
    --border-input: #bebcbc;
    --secondary-color: rgba(0, 0, 0, 0.6);
    --close-button-hover: rgba(0, 0, 0, 0.35);
    --black-color: #212121;
    --white-color: #fefefe;
    --icon-btn-hover: rgba(0, 0, 0, 0.2);
    --font-btn-hover: rgba(0, 0, 0, 0.05);
    --star-color: #444;
    --star-hover-color: #fd4;
    --mild-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
    --danger-color: #ff0000;
    --gray-bold-border: #D4D4D4;
    --footer-bg-color: #e7ecee;
  }